.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination li {
    display: inline-block;
    margin-right: 5px;
}

.pagination a,
.pagination span {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
}

.pagination .active a {
    background-color: #007bff;
    color: #fff;
}

.pagination .disabled span {
    color: #aaa;
    pointer-events: none;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


/* rating logic here bacckend */

.fill_rating i {
    color: #e6e6e6;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.2s ease;
    color: #ff9c1a;
}